@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato',Arial, sans-serif;
	color: #777;
	font-size: 16px;
	line-height: 1.6;
}


.container{
	width: 760px;
	margin: 100px auto 50px;
}


.post{
	margin-bottom: 80px;
	text-align: center;
}


/* Required */

.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}

#team_members {
    display: flex;
}

#faculty_head {
    width: 100%;
    display: flex;
        justify-content: space-around;
}

	#outer_box{
		background-color: green;
	width:100%;
	z-index: 1;
	height: 700px;
	margin: 0px;

	}
		#disc_box{
		background-color:blue;
	width:100%;
	height: 400px;
	z-index: 1;

	}
	#inner_box{
		background-color: red;
	height: 800px;
	width: 100%;
	z-index: 1;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;

	}

	#lower_box{
	background-color: yellow;
	height: 1100px;
	width: 100%;
	z-index: 1;
	position: relative;
	top: -1100px;
	transition: 1.2s ease-out;


	}
	img{
		padding: 20px;
	}
	.container{
		width: 100%;
		margin:0px; 
	}

#faculty_head{
	width: 100%
}
.faculty_info {
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    padding: 2px;
        margin: 2px;
}
div#faculty_disc {
    display: block;
    margin: auto;
}

#faculty_pic{
	width: 450px
}

