{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {% block page_title %}  {% endblock %} </title>

    
       
        <link href="{% static 'common/font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">

        <link href="{% static 'common/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'common/css/scrolling-nav.css' %}" rel="stylesheet">
        <link href="{% static 'common/css/full-slider.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" /> 
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap-lightbox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'common/css/lightbox.css' %}" >
    <link href="{% static 'common/css/aos.css' %}" rel="stylesheet">
             <link href="{% static 'common/css/base.css' %}" rel="stylesheet">
    <style>
       #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
   
 </style>

    </head>


       <body onload="myFunction()" >

<div id ="loader"> <div id ="starting_logo"><img id = "starting_img" src="{% static  "common/images/SMV-Logo" %}" alt="My image"/></div> </div>
<div id="myDiv" class="animate-bottom" >
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top"><img id = "car_logo" src="{% static  "common/images/SMV-Logo" %}" alt="My image"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                  
                        <li>
                            <a class="page-scroll nav_button" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll nav_button" href="#achievements">Achievments</a>
                        </li>
                        <li>
                            <a class="page-scroll nav_button" href="#our_ride">Our Ride</a>
                        </li>
                          <li>
                            <a class="page-scroll nav_button" href="#crew">Crew</a>
                        </li>
                          <li>
                            <a class="page-scroll nav_button" href="#partners">Partners</a>
                        </li>
                        <li>
                            <a class="page-scroll nav_button" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Full Page Image Background Carousel Header -->
        <header id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
   <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill" ><img class ="slide_img"src="{% static  "common/images/smv_slider4.jpg" %}" alt="My image"/></div>
                    <div class="carousel-caption">
                        <h2>Caption 1</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the second background image using inline CSS below. -->
                    <div class="fill" ><img class ="slide_img" src="{% static  "common/images/smv_slider1.png" %}" alt="My image"/></div>
                    <div class="carousel-caption">
                        <h2>Caption 2</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the third background image using inline CSS below. -->
                    <div class="fill"><img class ="slide_img" src="{% static  "common/images/smv_slider2.jpg" %}" alt="My image"/></div>
                    <div class="carousel-caption">
                        <h2>Caption 3</h2>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </header>
    
        <!-- About Section -->
        <section id="about" class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About</h1>
                        up vote
195
down vote
For an easy revert if it's just a mistake (perhaps you forked a repo, then ended up pushing to the original instead of to a new one) here's another possibility:

git reset --hard 71c27777543ccfcb0376dcdd8f6777df055ef479
Obviously swap in that number for the number of the commit you want to return to.

Everything since then will be deleted once you push again. To do that, the next step would be:

git push --force
shareimprove this answer
up vote
195
down vote
For an easy revert if it's just a mistake (perhaps you forked a repo, then ended up pushing to the original instead of to a new one) here's another possibility:

git reset --hard 71c27777543ccfcb0376dcdd8f6777df055ef479
Obviously swap in that number for the number of the commit you want to return to.

Everything since then will be deleted once you push again. To do that, the next step would be:

git push --force
shareimprove this answer
up vote
195
down vote
For an easy revert if it's just a mistake (perhaps you forked a repo, then ended up pushing to the original instead of to a new one) here's another possibility:

git reset --hard 71c27777543ccfcb0376dcdd8f6777df055ef479
Obviously swap in that number for the number of the commit you want to return to.

Everything since then will be deleted once you push again. To do that, the next step would be:

git push --force
shareimprove this answerup vote
195
down vote
For an easy revert if it's just a mistake (perhaps you forked a repo, then ended up pushing to the original instead of to a new one) here's another possibility:

git reset --hard 71c27777543ccfcb0376dcdd8f6777df055ef479
Obviously swap in that number for the number of the commit you want to return to.

Everything since then will be deleted once you push again. To do that, the next step would be:

git push --force
shareimprove this answer
                    </div>
                </div>
            </div>
        </section>


       <!--Achievemnets Section -->
        <section id="achievements" class="services-section">
      <section id="About">
        <header>
         <h1>Achievments</h1>
        <p>Nasrum Minnallahi Wafatahun Qareeb.</p>
        </header>
        <main>
        <div id="id1">
            <div id="content">
                <h4>JUNE 2010</h4>
                <h4>Our Humble Beginnings</h4>
                <p>Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat.</p>
            </div>
            <div id="gol-img"><a href="#id1"><img src="{% static  "common/images/about-us-1.jpg" %}" alt="My image"/></a></div>
            <div id="gol-hide"><a href="#id"><img src="{% static  "common/images/about-us-1.jpg"  %}"></a></div>
            <div id="empty"></div>
        </div>
        <div id="id2">
            <div id="content">
                <h4>JANUARY 2011 <br> Facing Startup Battles </h4>
                <p>Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat.</p>
            </div>
            <div id="gol-img"><a href="#id2"><img src="{% static  "common/images/about-us-2.jpg" %}" alt="My image"/></a></div>
            <div id="gol-hide"><a href="#id"><img src="{% static  "common/images/about-us-1.jpg" %}" alt="My image"/></a></div>
            <div id="empty"></div>
        </div>
        <div id="id3">
            <div id="content">
                <h4>DECEMBER 2012 <br> Enter The Dark Days</h4>
                <p>Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat.</p>
            </div>
            <div id="gol-img"><a href="#id3"><img src="{% static  "common/images/about-us-3.jpg" %}" alt="My image"/></a></div>
            <div id="gol-hide"><img src="{% static  "common/images/about-us-3.jpg" %}" alt="My image"/></a></div>
            <div id="empty"></div>
        </div>

        <div id="id4">
            <div id="content">
                <h4>FEBRUARY 2014 <br> Our Triumph </h4>
                <p>Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat Proin iaculis purus consequat.</p>
            </div>
            <div id="gol-img"><a href="#id4"><img src="{% static  "common/images/about-us-4.jpg" %}" alt="My image"/></a></div>
            <div id="gol-hide"><a href="#id"><img src="{% static  "common/images/about-us-3.jpg" %}" alt="My image"/></a></div>
            <div id="empty"></div>
        </div>
         <div ><button id ="but">OUR <br>STORY<br> CONTINUES <br> ...</button></div>
        <section id="line"></section>

        </main>
            </section>
            </section>
      
        <!-- Our Ride Section -->
        <section id="our_ride" class="contact-section">
            <div class="container">
              <h1>Our Ride</h1>
            <div id = "main_ride_box">
<div class="pane">
  
     <a href="{% static  "common/images/11.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img" src="{% static  "common/images/11.JPG" %}" ></a>
      <a href="{% static  "common/images/12.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/12.JPG" %}"></a>
       <a href="{% static  "common/images/13.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img" src="{% static  "common/images/13.JPG" %}"></a>
        <a href="{% static  "common/images/14.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/14.JPG" %}"></a>

   <a href="{% static  "common/images/15.jpg" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/15.jpg" %}"></a>
 <a href="{% static  "common/images/11.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/11.JPG" %}"></a> 
 <a href="{% static  "common/images/12.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/12.JPG" %}"></a> 
 <a href="{% static  "common/images/13.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/13.JPG" %}"></a> 
 <a href="{% static  "common/images/14.JPG" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/14.JPG" %}"></a> 
 <a href="{% static  "common/images/15.jpg" %}" data-lightbox="roadtrip" class="item"> <img class = "ride-img"  src="{% static  "common/images/11.JPG" %}"></a>
</div>
<button class ="ride_button_class" id="leftb"><img class="button_img"   src="{% static  "common/images/prev.png" %}"></button>
<button class ="ride_button_class"  id="rightb"><img class="button_img"  src="{% static  "common/images/next.png" %}"></button>
</div>

  
                
            </div>
        </section>
        
    <!-- Our Crew Section -->
    <div id ="crew"> <p> .</p>
    <p>. </p>
    </div>
  
   <h1 ><center>Crew</center></h1>
    <div id ="complete_wrapper">
  
  <div class="col-lg-1"></div>
    <div  class="col-lg-7">For an easy revert if it's just a mistake (perhaps you forked a repo, then ended up pushing to the original instead of to a new one) here's another possibility:

git reset --hard 71c27777543ccfcb0376dcdd8f6777df055ef479
Obviously swap in that number for the number of the commit you want to return to.

Everything since then will be deleted once you push again. To do that, the next step would be:</div>
  
    <div id ="button_wala" class="col-lg-4" onclick="myFunction3()" >
<a  class="push_button red">Our Esteem Team</a>

    </div>
    <div id = "our_crew"> 

               <h3><center>Faculty-Head</center></h3>
        <div class ="post" id =  "faculty_head" >
        <div class="aos-item" aos="fade-up"  id ="img_div_faculty">
        
            <img class="col-lg-8" id ="faculty_pic " src="{% static  "common/images/2.jpg" %}" alt="My image"/>
            </div>
            <div  id ="faculty_disc" class="col-lg-4" >
            <div></div>
            <div class ="faculty_info_1"><h3><strong>Dr. Ravinderjit Singh Walia</strong></h3></div>
            <div class ="faculty_info_1"><h4><u>Associate Professor</u></h4></div>
            <div class ="faculty_info_1"><h4><u>Mechanical Department</u></h4></div>
            <div class ="faculty_info_1"><h4><u>Delhi Technological University</u></h4></div>
        
            </div>
           
        </div>
                 <h3><center>Student-Members</center></h3> 
            <div id ="members">

            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
           
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
           
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
         
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
</div>



 <div id ="crew_wrapper">

     
       <section id="partners" class="services-section aos-item" aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" id="sponsers-container">
                        <center><h1 id ="sponsers-heading">Partners</h1></center>
                        <div id ="partners_wrapper">
                        <div class="row" class="post">
                          <div class="col-sm-3 partners_img logo-div">
                            <p> <a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading" >logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                          <div class="col-sm-3 partners_img logo-div">
                            <p><a href=""><img class="partner_inner_img" src="{% static  'common/images/logo.png' %}" alt="My image"/></a></p>
                            <h3 class ="logo_heading">logo</h3>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
               <!--Contact  Section -->
        <section id="contact" class="services-section">
         <section class="do-social-link-section">
        <div class="container">
            <div class="row">
                <a href="#" class="do-facebook">
                    <span>
                        <i class="fa fa-facebook"></i>
                    </span>
                    FACEBOOK
                </a>
            
                <a href="#" class="do-twitter">
                    <span>
                        <i class="fa fa-twitter"></i>
                    </span>
                    TWITTER
                </a>
           

            <a href="#" class="do-google" target="_blank">
                    <span>
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </span>
                       Google
</a>
            <a href="#" class="do-instagram" target="_blank">
                    <span>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                    </span>
                    Instagram
</a>

 <a href="#" class="do-youtube" target="_blank">
                    <span>
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </span>
                       Youtube
</a>
            </div>
        </div>
    </section>


            <div class="container">
            <center><h1> </h1></center>
                <div class="row">

                    <div class="col-lg-6">
               <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5uoryxTrl5Oz5A9uiUqhS6ciJH-so604&callback=initMap">
    </script>          
          <!-- GOOGLEMAP -->            
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat:28.7501, lng: 77.1177};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
                    </div>

                      <!-- CONTACT INFO -->
                          <div class="col-lg-6" id = "contact_address_info"><h5>Contact Us</h5>
      <div><i class="fa fa-phone icon-2x" style="color:green; "></i> +919953-071-448</div>
      <div><i class="fa fa-map-marker icon-2x" style="color:orange;"></i> D-5,A Vijay Nagar Single Storey Delhi 110009</div>
      <div><i class="fa fa-envelope-o icon-2x" style="color:yellow;"></i> aparnaenterprises2016@gmail.com</div>

       
      </div>
                </div>

            </div>

                <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

        </section>
           <script src="{% static 'common/js/jquery-2.2.1.min.js' %}"></script>
           <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
               <script src="{% static 'common/js/jquery.js' %}"></script> 
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  
                 <script src="{% static 'common/js/bootstrap.js' %}"></script>
        <script src="{% static 'common/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'common/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'common/js/scrolling-nav.js' %}"></script>    

          

 

<script src="{% static 'common/js/aos.js' %}"></script>
<script src="{% static 'common/js/lightbox.js' %}"></script>

<script type="text/javascript">

    $(function(){
  
    
    $('#leftb').click(function(){
        $('.pane').animate({scrollLeft : '+=300'});        
    });
    
    $('#rightb').click(function(){
        $('.pane').animate({scrollLeft : '-=300'});
    });
});
</script>         

<script>

    function myFunction3(){

    document.getElementById("crew_wrapper").style.top = '101%';

       
    }
    
</script>

<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage,1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script> 
<script>
    $(document).ready(function () {
              $(".navbar-toggle").on("click", function () {
                    $(this).toggleClass("active");
              });
        });
</script>
</div>
</div>


    </body>
  
</html>
